In [5]:
a = 10
b = 11.45

type(b)

float

In [13]:
a = 5
b = 4

print(a > b)

c = a > b
print(type(c))
print(c)

True
<class 'bool'>
True

In [14]:
a = 5
b = 4

print(a + b)
print(a * b)

9
20

In [15]:
print('Hello World\n\n')
print('hahaha')

Hello World


hahaha

In [17]:
a = 'Hello World'
print(a[10])

d

In [19]:
print(a[0])
print(a[-11])

H
H

In [23]:
print(a[-11])

H

In [32]:
a = 'Hello world'
print(a[0:11])
print(a[0:1])
print(a[:5])
print(a[3:])

print(a[:])

Hello world
H
Hello
lo world
Hello world

In [33]:
a = 'Hello world'
a.upper()

'HELLO WORLD'

In [35]:
a = 'hello world'
a.replace('h', 'j')

'jello world'

In [37]:
temperature = 25.5
prob = 80.0

a = '오늘 기온{}도 이고, 비올 확률은 {}% 입니다.'.format(temperature, prob)
print(a)

오늘 기온25.5도 이고, 비올 확률은 80.0% 입니다.

In [39]:
a = 'hello world what a nice weather'
a.split('w')

['hello ', 'orld ', 'hat a nice ', 'eather']

In [40]:
a = []
print(a)

[]

In [45]:
a = [1, 2, 3, 5, 10]
print(a)

[1, 2, 3, 5, 10]

In [47]:
a = ['korea', 'canada', 1, 23]
print(a)

['korea', 'canada', 1, 23]

In [49]:
a = 'hello world'
b = list(a)
print(b)

c = (1, 2, 3)
d = list(c)

print(d)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3]

In [50]:
a = 'hello world nice weather'
b = a.split()

print(b)

['hello', 'world', 'nice', 'weather']

In [54]:
a = [1 ,2, 3, 4, 5, 6]
print(a[2])
print(a[5])
print(a[-1])

3
6
6

In [56]:
a = 'hello world'
print(a[0])

a[0] = 'j'

h

TypeError: 'str' object does not support item assignment

In [65]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(a[4:7])
print(a[:7])
print(a[3:])
print(a[:])

a[1:7:6]

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

[2]

In [66]:
a = [1, 2, 3, 4, 5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [71]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

# a.extend(b)
a += b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
a = [1 ,3, 4, 5, 6]
a.insert(1, 40)

print(a)

[1, 40, 3, 4, 5, 6]

In [74]:
a = [1, 2, 30, 30, 4, 5]
a.remove(9)

print(a)

ValueError: list.remove(x): x not in list

In [77]:
a = [1, 2, 3, 4, 5]
d = a.pop(2)

print(a)
print(d)

[1, 2, 4, 5]
3

In [78]:
a = [2, 6, 7, 9, 10]
a.index(9)

3

In [80]:
a = [1, 2, 3, 4, 5, 10]
b = 10

c = b in a
print(c)

True

In [85]:
a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
a.sort(reverse=True)
b = sorted(a)
print(a)
print(b)

[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

In [86]:
a = [1, 2, 3]
a = (1, 2, 3)

print(type(a))
print(type(b))

<class 'tuple'>
<class 'list'>

In [92]:
a, b, c, d = 100, 200, 300, 400
print(a, b, c, d)

100 200 300 400

In [94]:
a = 5
b = 4
print(a, b)

a, b = b, a

print(a, b)

5 4
4 5

In [95]:
a = [0, 1, 2, 3, 4, 10, 100, 200, 300]
print(a[0])
print(a[4])

0
4

In [112]:
a = {'Korea': 'Seoul', 
     'Canada': 'Ottawa', 
     'USA': 'Washington D.C'}
a['Japan'] = 'Tokyo'
a['Japan'] = 'Kyoto'
a['Japan2'] = 'Kyoto'
a['China'] = 'Beijing'

b = {0:1, 1:6, 7:9, 8:10}

print(b[0])
print(a)

1
{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'Japan': 'Kyoto', 'Japan2': 'Kyoto', 'China': 'Beijing'}

In [114]:
a = {'a': 1, 'b': 2, 'c': 3}
b = {'a': 2, 'd': 4, 'e': 5}

a.update(b)

print(a)

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [118]:
a = {'a': 1, 'b': 2, 'c': 3}
print(a)

# a.pop('b')
del a['b']
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}

In [120]:
print(a)
a.clear()
print(a)

{'a': 1, 'c': 3}
{}

In [123]:
a = {'a': 1, 'b': 2, 'c': 3}
print(a)

b = []

{'a': 1, 'b': 2, 'c': 3}

False

In [130]:
print(a)
print(list(a.keys()))
print(list(a.values()))

list(a.items())

{'a': 1, 'b': 2, 'c': 3}
['a', 'b', 'c']
[1, 2, 3]

[('a', 1), ('b', 2), ('c', 3)]

In [133]:
a = {1, 1, 2, 3, 3, 4, 1, 5}
print(a)

{1, 2, 3, 4, 5}

In [136]:
a = set()
type(a)

set

In [137]:
a = [1, 1, 2, 3, 3, 4, 1, 5]
print(a)

b = set(a)
print(b)

[1, 1, 2, 3, 3, 4, 1, 5]
{1, 2, 3, 4, 5}

In [140]:
a = {1, 2, 3}
b = {2, 3, 4}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.issubset(b))

{1, 2, 3, 4}
{2, 3}
{1}
False

In [144]:
a = 10
b = 8
c = 11

In [147]:
if (a == 10 or b == 9) and c == 12:
    print('that is true')

In [149]:
if not a == 10:
    print('a is ten')

In [152]:
if 'hello':
    print('3 3 3 3 3 ')

3 3 3 3 3

In [156]:
a = [1, 2, 3]
if a:
    print('print')

print

In [162]:
a = 12
if a % 2 == 0:
    print(a / 2)
else:
    print(a + 1)

6.0

In [163]:
a = 17
if a % 4 == 0:
    print('a is divisible by 4')
elif a % 4 == 1:

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('a is divisible by 4')? (985320089.py, line 3)

In [164]:
a = 10
b = 9
c = 8
if a == 10:
    if c == 8:
        if b == 8:
            print('a is ten and b is 8')
        else:
            print('a is ten and b is not 8')

a is ten and b is not 8

In [170]:
a = [1 ,10, 9, 24]

i = 0
while i < len(a):
    print('value: ', a[i], ', index: ', i)
    i += 1
    
print('haha')

value:  1 , index:  0
value:  10 , index:  1
value:  9 , index:  2
value:  24 , index:  3
haha

In [175]:
a = [1 ,10, 9, 24, 25, 26]

i = 0
while i < len(a):
    if a[i] % 2:
        print(a[i])
    else:
        print(a[i] / 2)
    i += 1

1
5.0
9
12.0
25
13.0

In [ ]:
while True:
    print('haha')

In [179]:
a = [1 ,10, 9, 24, 25, 26]

i = 0
while i < len(a):
    if a[i] > 20:
        break
    print(a[i])
    i += 1
print('hahah')

1
10
9
hahah

In [ ]:
# 크롤링
while True:
    data = craw1()
    if data == None:
        break
    print(data)

In [180]:
a = 7
while a > 0:
    a -= 1
    if a == 5:
        continue
    print(a)

6
4
3
2
1
0

In [181]:
num = 1
_sum = 0
while num <= 100:
    _sum += num
    num += 1
    
print(_sum)

5050

In [183]:
a = [1, 2, 4, 3, 5]
for i in a:
    print(i, i * 2)
print('hahah')

1 2
2 4
4 8
3 6
5 10
hahah

In [185]:
a = [1, 2, 4, 3, 5]
for number in a:
    print(number)
print('hahah')

1
2
4
3
5
hahah

In [186]:
a = 'hello world'
for character in a:
    print(character)

h
e
l
l
o

w
o
r
l
d

In [187]:
a = [1, 10, 3, 4, 5]
for num in a:
    if num % 2 == 0:
        print(num/2)
    else:
        print(num+1)

2
5.0
4
2.0
6

In [190]:
a = {'korea': 'seoul', 'japan': 'tokyo', 'canada': 'ottawa'}
for key in a:
    print(key, a[key])

korea seoul
japan tokyo
canada ottawa

In [191]:
for key, value in a.items():
    print(key, value)

korea seoul
japan tokyo
canada ottawa

In [193]:
a = [1, 2, 3, 4, 5]
for index, num in enumerate(a):
    if index > 3:
        print(index, num)

4 5

In [195]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
    if num < 80:
        break
    print(num)

100
90
80

In [196]:
a = [1, 2, 4]
for i in a:
    for j in a:
        print(i * j)

1
2
4
2
4
8
4
8
16

In [207]:
for i in range(2,10):
    for j in range(1,10):
        print(f'{i} X {j} = {i * j}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [209]:
a = [1, 2, 3, 4, 5]
len('hello world')

11

In [214]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [215]:
list(range(1, 101, 5))

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [217]:
list(range(5, 101, 5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [218]:
for i in range(2, 10):
    for j in range(2, 10):
        print(f'{i} X {j} = {i * j}')

2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [224]:
for i in range(1, 101):
    if i % 2 == 0 or i % 11 == 0:
        print(i)
    i += 1

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [221]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
high = a[0]
for i in a[1:]:
    if i > high:
        high = i
print(high)

low = a[0]
for i in a[1:]:
    if i < low:
        low = i
print(low)

99
1

In [223]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
_sum = 0
for i in a:
    _sum += i
avg = _sum / len(a)
print(avg)

37.0

In [235]:
a = [1, 2, 3, 4]
length = len(a)
print(length)

summation = sum(a)
print(summation)

4

TypeError: 'int' object is not callable